body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7DADFF;
}
header {
    min-height: 14vh;
    max-width: 100vw;
    background-color: #F5BE4C;
    display: flex;
    flex-direction: row;
    padding-left: 20vw;
}
.logo {
    width: 140px;
    height: 140px;
}
h1 {
    color: #AB925C;
    margin-top: 5vh ;
    padding-top: 10px;
}
nav {
    display: flex;
    justify-content: center;
    min-height: 4vh;
    background-color: #F5BE4C;
    padding: 3px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    padding-left: 50px;
}
nav a {
    font-size: large;
    padding: 5px;
    display: block;
    color: #7DADFF;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition-duration: 0.5s;
}
nav li a:hover {
    background-color: #AB925C;
    color: #F5BE4C;
    animation-duration: 2s;
}
.actual {
    border: solid #7DADFF 2px;
}
section {
    min-height:70vh ;
    background-color: #7DADFF;
}
form {
    padding-top: 5vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
.principal div {
    display: flex;
    padding: 2px;
    background-color: #AB925C;
}
.principal{
    display: inline-flex;
    min-width: 30vw;
    justify-content: center;
}

.tipo{
    display: inline-flex;
    max-width: 100vw;
    justify-content: center;
}
.filtros {
    display: flex;
    justify-content: center;
}
.filtros ul {
    list-style-type: none;
}
details {
    cursor: pointer;
}
footer {
    min-height: 20vh;
    background-color: #919FB8;
    max-width: 100vw;
}
.boton {
    background-color: #fff; 
    color: black; 
    border: 2px solid black; 
    padding: 16px 20px;
    border-radius: 5px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}
.boton:hover {
color: #fff;
}
.boton::after {
    content: "";
    background: #F5BE4C;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.2s ease;
}
.boton:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}
.container {
    margin: 0;
    padding: 0;
    background-color: #7DADFF;
}
.container ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    display: block;
    margin: auto;
    position: relative;
    padding: 0;
    width: 600px;
    height: 300px;
}

.slider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.slider li {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #AB925C;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}


.social {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.social div{
    padding: 5px;
}

.social a{
    color: black;
}

.social img {
    padding-right: 5px;
    width: 15px;
    height: 15px;
}

.grupo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}